body {
  font-family: 'MyFont', sans-serif;
}

@font-face {
  font-family: 'MyFont';
  src: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/Bios\ Bold.otf') format('truetype');
}

body {
  background: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/background.png') fixed;
  background-image: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/background.png');
  background-attachment:scroll;
  background-size: cover;
}

.parent {
  width: 800px;
  height: 600px;
  background-color: #eee;
}
  
.child {
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: #fff;
}

.center-image {
  display: flex;
  align-items: center;
}


nav {
  background-color:transparent;
  display:flex;
  align-items: center;
  justify-content: center;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  text-align: center;
}
  
nav li {
  display: inline-block;
  align-items: center;
}
  
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
nav a:hover {
  background-color:  rgba(83, 69, 130, 0.8);
  border-radius: 20px;
  backdrop-filter: blur(2px);  
}

iframe {
  height: 70vh;
  width: 100%;
  border: 3px solid #534582;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
}


.container {
  background-image: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/black_opc50.png');
  width: (100% - 25px);
  padding: 25px;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden
}

hr {

  border-radius: 20px;
  background-image: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/black_opc25.png');
}

ul {
  line-height:150%
}

.tokenomic-piechart {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: conic-gradient(
      rgb(103, 91, 144) 18deg, 
      rgb(57, 123, 196) 0 36deg, 
      rgb(122, 235, 246) 0);
}





section {
  margin: 20px 0 20px 0;
}

.info-text {
  font-size: 1.1em;
}

.full-width {
  width: 100%;
}



/* Encrypt/Decrypt */

#encryptMessageInput {
  margin-bottom: 1rem;
}

.error-div {
  margin-bottom: 12px;
}

.error-message {
  min-height: 32px;
  border: 1px solid #e88f97;
  color: #24292e;
  background: #fcf2f3;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
}
.error-message-icon {
  margin-right: 8px;
  flex: 0 0 auto;
}
.error-message-text {
  overflow: auto;
}

.warning-invisible {
  display: none;
}